/* ToggleGroup base styles */
:host {
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: 0.375rem;
}

:host([data-variant="outline"]) {
  box-shadow: 0 1px 2px rgba(0,0,0,0.04);
}


/* Responsive */
@media (min-width: 768px) {
  :host {
    font-size: 0.95rem;
  }
}
