.aspect {
  position: relative;
  width: 100%;
  display: block;
}

/* padding-top shim: --pt should be a percentage like '56.25%' */
.aspect::before {
  content: '';
  display: block;
  padding-top: var(--pt, 56.25%); /* default 16/9 */
}

.aspect-inner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.aspect-inner > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
